.allpage{
	width: 1024px;
	height: auto;
	margin: 0 auto;

     }
.center{
   width: 1024px;
   height: 800px;
}
.center .left{
	width: 202px;
	height: 800px;
	float: left;
}
.center .left ul li{
	list-style:none;
	width: 200px;
	height: 50px;
	border: #000000 solid 1px;
	margin-top: 2px;
	text-align: center;
	line-height: 50px;
	background: #000000;
	color: white;
}
.center .left a{
	cursor: pointer;
}
.center .right{
	width:750px;
	height: 800px;
    float:right;
}
.table_info tr{
	
}