*{
	margin: 0;
	padding: 0;
}

#console{
	background-color: #ccc;
	width: 80%;
	margin: 0 auto;
	height: 500px;
}
.body{
	width: 100%;
	height: 100%;
}
.body-left{
	width: 25%;
	float: left;
	height: 100%;
}
.body-left ul{
	width: 100%;
}
.body-left ul li{
	list-style: none;
	width: 100%;
	height: 40px;
}

.input-item{
	width: 100%;
	background-color: red;
	margin-top: 20px;
	clear: both;
}

.input-item-title{
	float: left;
	font-size: 20px;
	padding-left: 10%;
	width: 50%;
}

.input-item-value{
	width: 40%;
	height: 30px;
	float: left;
}
.input-item-value select{
	width: 100%;
	height: 100%;
	font-size: 110%;
}


.status-led{
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-color: green;
	margin: 20px auto;
}
.actions{
	width: 100%;
	margin: 0 auto;
}
.body-right{
	float: left;
	width: 65%;
	margin-left: 5%;
	height: 100%;
}

.receive_data{
	margin: 10px;
	font-size: 14px;
	line-height: 20px;
	width: 100%;
	height: 60%;
	overflow: hidden;
	background-color: white;
	padding: 10px;
	border-radius: 8px;
}